body, html {
    padding: 0;
    margin: 0;
}

* {
    border: 1px solid black;
}

body {
    background: #faf8ef;
    display: flex;
    justify-content: center;
}

.content {
    max-width: 500px;
}

header {
    display: flex;
    justify-content: space-between;
}

.game-board {
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(16, 6.25%);
    grid-template-rows: repeat(16, 6.25%);
}

.square {
    background-color: hsla(90, 100%, 55%, 1);
}

.square[color='dark'] {
    background-color: hsla(90, 100%, 49%, 1);
}

.snake {
    background-color: blueviolet;
    border-radius: 75%;
    height: 100%;
}

.apple {
    background-color: red;
    border-radius: 75%;
    height: 100%;
}

.game-over {
    display: none;
}