body, html {
    padding: 0;
    margin: 0;
}

/* * {
    border: 1px solid black;
} */

body {
    background-color: #DFF9C7;
    display: flex;
    justify-content: center;
}

.content {
    max-width: 550px;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 5% 0 2% 0;
}

.title {
    width: 45%;
    display: flex;
}

h1 {
    font-family: 'Silkscreen', cursive;
    color: #403233;
    font-size: 300%;
    margin: auto 0;
}

.score-board {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    width: 45%;
}

.score, .high-score {
    background-color: #403233;
    padding: 2.5% 2.5%;
    border-radius: 10%;
    width: 40%;
}

.score-board * {
    margin: 0;
    text-align: center;
}

.game-board {
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(16, 6.25%);
    grid-template-rows: repeat(16, 6.25%);
    border: 5px solid #403233;
}

.square {
    background-color: hsla(90, 100%, 55%, 1);
}

.square[color='dark'] {
    background-color: hsla(90, 100%, 49%, 1);
}

.snake {
    background-color: blueviolet;
    border-radius: 75%;
    height: 100%;
}

.apple {
    background-color: red;
    border-radius: 75%;
    height: 100%;
}

.game-over {
    display: none;
    background-color: #403233;
}