body, html {
    padding: 0;
    margin: 0;
}

body {
    background-color: #DFF9C7;
    display: flex;
    justify-content: center;
}

.content {
    max-width: 550px;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 10% 0 4% 0;
}

.title {
    width: 45%;
    display: flex;
}

h1 {
    font-family: 'Silkscreen', cursive;
    color: #403233;
    font-size: 275%;
    margin: auto 0;
}

.score-board, nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    width: 45%;
}

.score, .high-score {
    background-color: #403233;
    padding: 2.5% 2.5%;
    border-radius: 10%;
    width: 30%;
}

.score-board * {
    margin: 0;
    text-align: center;
}

.game-board {
    min-width: 300px;
    max-width: 500px;
    min-height: 300px;
    max-height: 500px;
    width: 90vw;
    height: 90vw;
    display: grid;
    grid-template-columns: repeat(16, 6.25%);
    grid-template-rows: repeat(16, 6.25%);
    border: 5px solid #403233;
}

.square {
    background-color: hsla(90, 100%, 55%, 1);
}

.square[color='dark'] {
    background-color: hsla(90, 100%, 49%, 1);
}

.snake {
    background-color: blueviolet;
    border-radius: 75%;
    height: 100%;
}

.apple {
    background-color: red;
    border-radius: 75%;
    height: 100%;
}

.game-over {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: #40323387;
    position: absolute;
    min-width: 300px;
    max-width: 500px;
    min-height: 300px;
    max-height: 500px;
    width: 90vw;
    height: 90vw;
    text-align: center;
}

.game-over-title {
    font-family: 'Silkscreen', cursive;
    font-size: 200%;
    color: white;
}

.game-over-buttons {
    display: flex;
    justify-content: center;
}

.home-button, .play-again {
    background-color: #403233;
    color: white;
    padding: 1.5% 0.5%;
    border-radius: 10%;
    width: 20%;
    margin: 0 10px;
}

button, .home, .game-play {
    background-color: #403233;
    color: white;
    font-size: medium;
    font-weight: bold;
    border: none;
}

.home, .game-play {
    border-radius: 10%;
}

.instructions {
    margin: 5%;
    color:#403233;
}

.instructions > h2 {
    text-align: center;
}

.instructions > ul {
    font-size: 125%;
}